body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: inline-block;
    margin-left: 85%;
    padding-top: 10px;
}

.name {
    display: inline-grid;
    width: 180px;
    color: #8A2BE2;
}

.wc {
    display: inline-block;
    padding-top: 0px !important;
    width: 80px;    
    margin-right: 10px;
    color: #F08080;
}

.button {
    border: none;
    color:  #4CAF50;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 30px;
    padding: 16px 32px;
}

.link-button {
    background-color: white; 
    border: 2px solid #4CAF50;
}

.link-button:hover {
    background-color: #4CAF50;
    color: white;
}

.bt2 {
    margin-top: 20px;
}

.ttname {
    font-weight: 700;
    font-size: 24px;
    margin-left: 50px;
}

.ttname2 {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 25px;
    margin-left: 30px;
}

table, td, th {
    border: 1px solid black;
}

td, th {
    padding-top:10px;
    padding-bottom:10px;
}

table {
    width: 80%;
    margin:0 auto;
}

td {
    text-align: center;
}

.lp {
    width: 10%;
}

.day{
    width: 15%;
}

.mg {
    width: 300px;
    margin: 20px auto;
}

.input-td {
    border: none;
    width: 95%;
    height: 25px;
}

.width-bt {
    width: 200px;
}

.dp {
    display: none;
}

.login_link {
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 30px;
    width: 96px;
    height: 34px;
    border: 2px solid #4CAF50;
    padding-top: 16px;
    display: inline-block;
}

.linkli {
    text-decoration: none !important;
    color:  #4CAF50;
    padding: 19px 19px;
    transition-duration: 0.4s;
}

.linkli:focus {
    text-decoration: none !important;
    color:  white;
}

.linkli:hover {
    text-decoration: none !important;
    color:  white;
}

.login_link:hover {
    background-color: #4CAF50;
    color: white;
}

.inline {
    display: inline-block;
}